.container__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.container__cover {
  border: 1px solid red;
}

.container__content img {
  border: 5px solid rgb(144, 144, 144);
  width: 500px;
  min-width: 500px;
  height: auto;
}

.content_description > p {
  margin-top: 20px;
  color: rgb(198, 197, 197);
}
